.App {
  text-align: center;
}

.logo {
  height: 60px;
  margin-bottom: 10px;
}

.title {
  width: 200px;
  height: 54px;
  -webkit-transform: skew(-12deg);
  -moz-transform: skew(-12deg);
  transform: skew(-12ֿdeg);
  background-color: #fff;
  margin-bottom: 10px;
  color: #2D9638;
  font-size: 36px;
  line-height: 50px;
  display: inline-block;
}

.desc {
  color: #fff;
  font-size: 24px;
  margin-bottom: 50px;
}
